/*** Mega Menu ***/
nav.main-header > ul.menu li.tr-megamenu-fullwidth ul.sub-menu{
	width: 100%;
	left:0;
}
nav.main-header > ul.menu li.tr-megamenu-columns-4 ul.sub-menu{
	width: 100%;
	left:0;
}
nav.main-header > ul.menu li.tr-megamenu-columns-3 ul.sub-menu{
	width: 600px;
}
nav.main-header > ul.menu li.tr-megamenu-columns-2 ul.sub-menu{
	width: 400px;
}
nav.main-header > ul.menu li.tr-megamenu-columns-1 ul.sub-menu{
	width: 256px;
}

.main-header .main-menu .menu > li.tr-megamenu-fullwidth:hover > ul,
.main-header .main-menu .menu > li.tr-megamenu-columns-4:hover > ul,
.main-header .main-menu .menu > li.tr-megamenu-columns-3:hover > ul,
.main-header .main-menu .menu > li.tr-megamenu-columns-2:hover > ul,
.main-header .main-menu .menu > li.tr-megamenu-columns-1:hover > ul {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}

/*******************************************/

.main-header .tr-mega-menu li h1,
.main-header .tr-mega-menu li h2,
.main-header .tr-mega-menu li h3,
.main-header .tr-mega-menu li h4,
.main-header .tr-mega-menu li h5 {
	color:var(--color-five);
	font-size: var(--font-22);
}

.main-header .tr-mega-menu li a {
	position: relative;
	line-height: 24px;
	font-weight: 500;
	font-size: var(--font-15);
	text-transform: capitalize;
	color: var(--black-color);
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

.main-header .tr-mega-menu li a:hover,
.main-header .tr-mega-menu li span:hover {
	color: var(--main-color);
}

.main-header .tr-mega-menu li span {
	color: var(--black-color);
}

.main-header .tr-mega-menu li span i {
	color: var(--main-color);
}


/*******************WP Menu Shortcode*******************/

.main-header .tr-mega-menu li {
	display:block;
	width:100%;
}
.main-header .main-menu .menu .tr-mega-menu li a {
	padding:0;
	text-align:left;
	font-size: var(--font-15);
	font-weight:500;
	color: var(--black-color) !important;
}
.main-header .main-menu .menu .tr-mega-menu li a:hover {
	color: var(--main-color) !important;
}


.main-header .main-menu .menu > li > ul.tr-mega-menu {
	width:100%;
	left:0;
}

.main-header .main-menu .menu > li > ul.tr-mega-menu .menu{
	display:block !important;
}

.main-header .main-menu .menu > li > ul.tr-mega-menu .menu li{
	margin-bottom:5px;
}
